Incorrect IP being written

Hi I want to use this plugin to have homeassistant use the real IP instead of an internal one. However it seems the Real-IP and forwarded for are changed to my internal IP rather the IP of the remote.

I used the whoami from traefik to check the headers (one with middleware on, one without). Am I doing something wrong or is there a bug?


Without middleware (disabling the plugin):
```
Hostname: 10185412f4a0
IP: 127.0.0.1
IP: 172.19.0.15
RemoteAddr: 172.19.0.9:58882
GET / HTTP/1.1
Host: whoami2.localdomain.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7
Accept-Encoding: gzip, br
Accept-Language: en-US,en;q=0.9,de;q=0.8,nl;q=0.7
Cache-Control: max-age=0
Cdn-Loop: cloudflare; loops=1
Cf-Connecting-Ip: XX.XX.XXX.176
Cf-Ipcountry: NL
Cf-Visitor: {"scheme":"https"}
Priority: u=0, i
X-Forwarded-For: XX.XX.XXX.176, 192.168.178.206
X-Forwarded-Port: 443
X-Forwarded-Proto: https
X-Real-Ip: 192.168.178.206
```

With middleware (enabling the plugin)

```
Hostname: 10185412f4a0
IP: 127.0.0.1
IP: 172.19.0.15
RemoteAddr: 172.19.0.9:58398
GET / HTTP/1.1
Host: whoami.localdomain.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7
Accept-Encoding: gzip, br
Accept-Language: en-US,en;q=0.9,de;q=0.8,nl;q=0.7
Cdn-Loop: cloudflare; loops=1
Cf-Ipcountry: NL
Priority: u=0, i
Upgrade-Insecure-Requests: 1
X-Forwarded-For: 192.168.178.206
X-Forwarded-Port: 443
X-Forwarded-Proto: https
X-Is-Trusted: no
X-Real-Ip: 192.168.178.206
```

172.19.0.15 = docker ip for whoami container
172.19.0.9 = docker ip for traefik container
192.168.178.206 = unknown IP in my network (can't seem to pinpoint which service is getting this address)

I used the default installation settings;
``` 
http:
    middlewares:
        cloudflarewarp:
            plugin:
                cloudflarewarp:
                    disableDefault: false
``` 

I saw you made a fork and replaced `IP` with `Ip`. It's bizarre, because [Cloudflare's documentation](https://developers.cloudflare.com/fundamentals/reference/http-headers/#cf-connecting-ip) states that it should be `IP`, however your example clearly shows that you received `Ip`.

According to [RFC 9110 §5.1 Field Names](https://www.rfc-editor.org/rfc/rfc9110.html#name-field-names), header names are case-insensitive, so it should not matter at all.

I am tired right now and didn't look very closely, but [maybe it's somewhat related to this](https://github.com/golang/go/issues/37834)? Not sure.

I tried that indeed, unfortunately it was not the cause/solution. 

Try enabling debug logging for the plugin.

```yaml
http:
    middlewares:
        cloudflarewarp:
            plugin:
                cloudflarewarp:
                    disableDefault: false
                    debug: true
```

Actually, I see the issue. You have a secondary proxy/tunnel in between you and Cloudflare. I'm guessing it's probably Cloudflare Tunnel? Regardless, you need to whitelist the IP of it.

The default options of this plugin are to listen for requests only from Cloudflare IPs, however many users will probably have a tunnel or proxy or something in between, so the default settings won't work and will return that all IPs are not trusted.

There are multiple ways you can go about this. If you assign a static IP to the container, you can whitelist that specific IP. On Docker, you can also create a sub-network with a set IP range I believe and whitelist that range. Or, if you trust your entire Docker network on that host, you can just whitelist the Docker IP range as well.

Here's an example for Kubernetes using K3s default network ranges.

```yaml
http:
    middlewares:
        cloudflarewarp:
            plugin:
                cloudflarewarp:
                    disableDefault: true
                    trustip:
                        - 10.42.0.0/16
                        - 2001:cafe:42::/56
```